<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Plush Planet</title>
        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
            rel="stylesheet">
        <link rel="stylesheet" href="/stylesheets/style.css">
        <link rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">

            <style>
                #addNewAddress:hover{
                    background-color: #f5d2d2;
                }
            </style>
    </head>

    <body style="background-color: #f9f5f1;">

        <!-- Navbar -->

        <nav class="navbar navbar-expand-lg mb-3"
            style="background-color: #f0a9a9;">
            <div class="container-fluid mx-3">
                <a class="navbar-brand" href="#"
                    style="font-family: 'Brush Script MT'; font-size: 50px; color: #5d4545;">Plush
                    Planet</a>
                <button class="navbar-toggler" type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse mb-2"
                    id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page"
                                href="/shop">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/users/cart">Cart</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/users/orders">My Orders</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">My Account</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/users/logout">Logout</a>
                        </li>
                    </ul>
                    <form class="d-flex" role="search">
                        <input class="form-control me-2" type="search"
                            placeholder="Search" aria-label="Search">
                        <button class="btn btn-outline-success"
                            type="submit">Search</button>
                    </form>
                </div>
            </div>
        </nav>

        <!-- Main Container -->
        <div class="container my-5">
            <!-- Main Content -->
            <main
                class="m-auto mt-5"
                style="margin-top: 56px; width:92%;"
                id="products-section">
                <h2 class="pb-3 text-center mb-4"
                    style="color: #493636;font-family: papyrus;font-size:2.5rem"><strong>
                        Your Cart </strong></h2>

                <div class="row">
                    <!-- Cart Items -->
                    <div class="mb-5">
                        <% if(user.cart.length > 0) { %>
                        <% user.cart.forEach( function(cartItem) { %>
                            <% if (cartItem.product && cartItem.product.image && cartItem.product.image.buffer) { %>  
                        <div
                            class=" col-lg-8 product d-flex align-items-center gap-5 mx-auto flex-wrap"
                            style="background-color: #fff; border-radius: 10px;box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);padding: 20px;margin-top: 30px;">
                            <div class="product-img rounded shadow-sm border-0">
                                <% if(cartItem.product.image.buffer) { %>
                                <img
                                    src="data:image/jpeg;base64,<%=cartItem.product.image.toString('base64')%>"
                                    alt="Product Image" class="card-img-top responsive-img"
                                    style="height: 300px; width: 100%; object-fit: cover;">
                                <% } %>
                            </div>

                            <div class="product-details flex-grow-1">
                                <h5 class="card-title"
                                    style="color: #6b4f4f;"><%=cartItem.product.name%></h5>
                                <div
                                    class="price-section d-flex align-items-center">
                                    <span class="original-price"
                                        style="text-decoration: line-through; color: #a66a6a; margin-right: 10px;">
                                        ₹<%=cartItem.product.price%>
                                    </span>
                                    <span class="discounted-price"
                                        style="color: #6b4f4f; font-weight: bold; font-size: 1.1em;">
                                        ₹<%=cartItem.product.discountPrice%>
                                    </span>
                                </div>
                                <div class="quantity-section mt-2">
                                    <label for="quantity-<%=cartItem.product._id%>"
                                        style="margin-right: 10px;">Quantity:</label>
                                    <input type="number"
                                        id="quantity-<%=cartItem.product._id%>"
                                        class="form-control d-inline-block"
                                        style="width: 70px;" value="<%= cartItem.quantity %>" min="1"
                                        data-discountOffered="<%= cartItem.product.price - cartItem.product.discountPrice %>"
                                        data-price="<%= cartItem.product.discountPrice %>"
                                        data-id="<%= cartItem.product._id %>">
                                        <button class="delete-item-btn btn btn-secondary ms-3" data-id="<%= cartItem.product._id %>">
                                    <i class="fas fa-trash-alt"></i> <!-- Font Awesome Trash Icon -->
                                </button>
                                </div>
                                
                                
                                <div class="price mt-2">
                                    <span>Total for this item:</span>
                                    <span id="item-total-<%= cartItem.product._id %>"
                                        style="font-weight: bold;">₹<%=
                                        (cartItem.quantity * 
                                        cartItem.product.discountPrice).toFixed(2) %></span>
                                </div>
                            </div>
                        </div>

                    </div>
                    <% } else { %>
                        <p>Product information not available</p>
                    <% } %>
                    <%}) %>

                    <%} else { %>
                    <p class="text-center" style="font-size: 1.5em;">Cart is
                        empty </p>
                    <% } %>

                </div>

                <div class="col-lg-7 m-auto">
                    <div class="summary-card mb-5 ms-5 me-5"
                        style="background-color: #fff;
                    border-radius: 10px;
                    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
                    padding: 20px;">
                        <h4 class="text-center"
                            style="color: #6b4f4f;background-color: #fff;
            border-radius: 10px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            padding: 20px; ">Order
                            Summary</h4>
                        <hr>
                        <div class="d-flex justify-content-between">
                            <span>Total Price:</span>
                            <span id="total-price">₹<%= user.cart.reduce((total,
                                cartItem) =>
                                total + cartItem.product.discountPrice * cartItem.quantity, 0) %></span>
                        </div>
                        <div class="d-flex justify-content-between">
                            <span>Other Charges:</span>
                            <span>₹0.00</span>
                        </div>

                        <div class="d-flex justify-content-between">
                            <span>Shipping Fee:</span>
                            <% if(user.cart.length > 0) { %>
                            <span>₹50</span>
                            <% } else { %>
                            <span>₹0.00</span>
                            <% } %>
                        </div>
                        <hr>
                        <div class="d-flex justify-content-between">
                            <strong>Final Total:</strong>

                            <% if(user.cart.length > 0) { %>
                            <strong id="final-total">₹<%=
                                user.cart.reduce((total, cartItem) =>
                                total + cartItem.product.discountPrice * cartItem.quantity, 50) %></strong>
                            <% } else { %>
                            <strong>₹0.00</strong>
                            <% } %>

                        </div>
                        <% if(user.cart.length > 0) { %>
                        <button class="btn btn-success w-100 mt-3"
                            data-bs-toggle="modal"
                            data-bs-target="#orderModal">Place Your
                            Order</button>
                        <% } else { %>
                        <button
                            class="btn btn-success w-100 mt-3 disabled">Place
                            Your
                            Order</button>
                        <% } %>

                    </div>
                </div>

                <div class="modal fade" id="orderModal" tabindex="-1"
                    aria-labelledby="orderModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered modal-lg">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title"
                                    id="orderModalLabel" style="color:#db7070">Complete
                                    Your Payment</h5>
                                <button type="button" class="btn-close"
                                    data-bs-dismiss="modal"
                                    aria-label="close"></button>
                            </div>

                            <div class="modal-body">

                                    <!-- Address Section -->
                                    <h5 style="color:#ef7b7b">Select Address</h5>

                                    <div id="address-list">
                                        <% if(user.address.length > 0) { %>
                                        <% user.address.map((addr, index)=>{%>
                                        <div class="address-box form-check mb-2">
                                            <input class="form-check-input ms-2" type="radio"
                                                name="selectedAddress"
                                                id="address-<%= index%>"
                                                value="<%= addr%>"
                                                <% if(index==0) {%>
                                            "checked"
                                            <% } else { %>
                                            ""
                                            <% } %> />
                                            <label class="form-check-label"
                                                for="address-<%= index%>"><%=addr%></label>
                                        </div>
                                        <% }); %>
                                        <% } else { %>
                                        <p style="color:rgba(0, 0, 0, 0.461)">No
                                            Saved addresses available</p>
                                        <% } %>

                                    </div>


                                    <button class="btn mt-1"
                                        id="addNewAddress" style="border-color: #db7070;color:#813333;" >Add New
                                        Address</button>

                                    <form class="p-3 d-none" action="/users/save-address" method="POST" id="new-address-form">
                                        <textarea id="newAddress"
                                            class="form-control mb-2" rows="3"
                                            placeholder="Enter your new address" name="address"></textarea>
                                        <button class="btn btn-primary"
                                            id="saveAddress">Save
                                            Address</button> <a id="close-save-addr" class="btn btn-warning">Cancel</a>
                                    </form>
                                    

                                    <!-- Payment Section -->
                                    <h5 class="mt-4" style="color:#813333">Payment Method</h5>
                                    <div id="payment-options">
                                        <div class="payment-option form-check mb-1">
                                            <input type="radio" class="form-check-input ms-2" name="paymentMethod" id="payment-COD" value="COD" checked />
                                            <label class="form-check-label" for="payment-COD">
                                                <i class="fas fa-money-bill-wave" style="color:#ff8484"></i> Cash on Delivery
                                            </label>
                                        </div>
                                        <div class="payment-option form-check mb-1">
                                            <input type="radio" class="form-check-input ms-2" name="paymentMethod" id="payment-Card" value="Card" />
                                            <label class="form-check-label" for="payment-Card">
                                                <i class="fas fa-credit-card" style="color:#ff8484"></i> Credit/Debit Card
                                            </label>
                                        </div>
                                        <div class="payment-option form-check mb-1">
                                            <input type="radio" class="form-check-input ms-2" name="paymentMethod" id="payment-UPI" value="UPI" />
                                            <label class="form-check-label" for="payment-UPI">
                                                <i class="fas fa-mobile-alt" style="color:#ff8484"></i> UPI
                                            </label>
                                        </div>
                                    </div>

                                </div>

                                <div class="modal-footer mt-2">
                                    <button type="button"
                                        class="btn btn-secondary"
                                        data-bs-dismiss="modal">Cancel</button>
                                    <button type="submit"
                                        class="btn btn-success"
                                        id="confirmOrder"
                                        data-final-total="<%= user.cart.reduce((total, cartItem) => total + cartItem.product.discountPrice * cartItem.quantity, 50) %>">Confirm Order</button>
                                </div>

                            </form>
                        </div>
                    </div>
                </div>
            </main>
        </div>

        <footer style="background-color: #fabbbbcb; color: black;">
            <div class="footer-container p-5">
                <div class="footer-section">
                    <h3>About Us</h3>
                    <p>We are a leading online store offering the best products
                        for your needs. Our goal is to provide exceptional
                        quality and service.</p>
                </div>

                <div class="footer-section">
                    <h3>Quick Links</h3>
                    <ul style="color: black">
                        <li><a href="#" style="color: black">Home</a></li>
                        <li><a href="#" style="color: black">Shop</a></li>
                        <li><a href="#" style="color: black">Contact</a></li>
                        <li><a href="#" style="color: black">Privacy
                                Policy</a></li>
                    </ul>
                </div>
                <div class="footer-section">
                    <h3>Follow Us</h3>
                    <div class="social-icons"
                        style="font-size: 1.5rem;">
                        <i class="fa-brands fa-square-facebook me-3">
                        </i>
                        <i class="fa-brands fa-square-x-twitter me-3"></i>
                        <i class="fa-brands fa-square-instagram me-3"></i>
                    </div>
                </div>
            </div>
            <div class="footer-bottom" style="background-color:#9b5050d2;">
                <p>&copy; 2024 Plush Planet. All rights reserved.</p>
            </div>
        </footer>

        <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>

        <script src="/scripts/cartPriceUpdate.js"></script>
        <script src="/scripts/addAddress.js"></script>
        <script src="/scripts/removeItemFromCart.js"></script>
        <script src="/scripts/placeOrder.js"></script>
    </body>
</html>
